[tool.poetry]
name = "ubo-app"
version = "0.10.5"
description = "Ubo main app, running on device initialization. A platform for running other apps."
authors = ["Sassan Haradji <sassanh@gmail.com>"]
license = "Apache-2.0"
readme = "README.md"
packages = [{ include = "ubo_app" }]
include = ['ubo_app/services/*-sound/sounds/*']


[[tool.poetry.source]]
name = "PyPI"
priority = "primary"


[tool.poetry.dependencies]
python = "^3.11"
psutil = "^5.9.8"
ubo-gui = [
  { version = "^0.9.2", markers = "extra=='default'", extras = [
    'default',
  ] },
  { version = "^0.9.2", markers = "extra=='dev'", extras = [
    'dev',
  ] },
]
python-redux = "^0.9.23"
pyzbar = "^0.1.9"
sdbus-networkmanager = { version = "^2.0.0", markers = "platform_machine=='aarch64'" }
rpi_ws281x = { version = "^5.0.0", markers = "platform_machine=='aarch64'" }
python-debouncer = "^0.1.3"
adafruit-circuitpython-neopixel = "^6.3.11"
pulsectl = "^23.5.2"
aiohttp = "^3.9.1"
semver = "^3.0.2"
adafruit-circuitpython-pct2075 = "^1.1.21"
adafruit-circuitpython-veml7700 = "^1.1.22"
docker = "^7.0.0"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
pyright = "^1.1.349"
ruff = "^0.2.1"
toml = "^0.10.2"

[tool.poetry.extras]
default = ['ubo-gui', 'headless-kivy-pi']
dev = ['ubo-gui', 'headless-kivy-pi']

[tool.poetry.scripts]
ubo = "ubo_app:main"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poe.tasks]
lint = "ruff . --unsafe-fixes"
typecheck = "pyright -p pyproject.toml ."
sanity = ["typecheck", "lint"]

[tool.poe.tasks.deploy_to_device]
args = [
  { name = 'deps', type = 'boolean' },
  { name = 'run', type = 'boolean' },
  { name = 'bootstrap', type = 'boolean' },
]
cmd = 'scripts/deploy.sh'

[tool.ruff]
lint.select = ['ALL']
lint.ignore = ['INP001', 'PLR0911', 'D203', 'D213']
lint.fixable = ['ALL']
lint.unfixable = []
exclude = ['stubs']

[tool.ruff.lint.flake8-builtins]
builtins-ignorelist = ['type', 'id']

[tool.ruff.lint.flake8-quotes]
docstring-quotes = "double"
inline-quotes = "single"
multiline-quotes = "double"

[tool.ruff.format]
quote-style = 'single'

[tool.isort]
profile = "black"

[tool.pyright]
stubPath = "ubo_app/stubs"
exclude = ['ubo_app/stubs']
