[tool.poetry]
name = "ubo-app"
version = "0.7.6"
description = "Ubo main app, running on device initialization. A platform for running other apps."
authors = ["Sassan Haradji <sassanh@gmail.com>"]
license = "Apache-2.0"
readme = "README.md"
packages = [{ include = "ubo_app" }]


[[tool.poetry.source]]
name = "PyPI"
priority = "primary"


[tool.poetry.dependencies]
python = "^3.11"
psutil = "^5.9.6"
ubo-gui = [
  { version = "^0.6.4" },
  { version = "^0.6.4", markers = "extra=='dev'", extras = [
    'dev',
  ] },
]
headless-kivy-pi = [
  { version = "^0.5.10" },
  { version = "^0.5.10", markers = "extra=='dev'", extras = [
    'dev',
  ] },
]
python-redux = "^0.9.6"
pyzbar = "^0.1.9"
sdbus-networkmanager = { version = "^2.0.0", markers = "platform_machine=='aarch64'" }
python-debouncer = "^0.1.0"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
pyright = "^1.1.342"
ruff = "^0.1.9"

[tool.poetry.extras]
dev = ['ubo-gui', 'headless-kivy-pi']

[tool.poetry.scripts]
ubo = "ubo_app:main"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poe.tasks]
lint = "sh -c 'pyright -p pyproject.toml .; poetry run ruff . --unsafe-fixes'"

[tool.poe.tasks.deploy_to_device]
args = [{ name = 'deps', type = 'boolean' }, { name = 'run', type = 'boolean' }]
cmd = 'scripts/deploy.sh'

[tool.ruff]
select = ['ALL']
ignore = ['INP001', 'PLR0911']


fixable = ['ALL']
unfixable = []

[tool.ruff.flake8-builtins]
builtins-ignorelist = ['type', 'id']

[tool.ruff.flake8-quotes]
docstring-quotes = "double"
inline-quotes = "single"
multiline-quotes = "double"

[tool.ruff.format]
quote-style = 'single'

[tool.pyright]
reportUnusedVariable = false
