[tool.poetry]
name = "ubo-app"
version = "0.3.2"
description = "Ubo main app, running on device initialization. A platform for running other apps."
authors = ["Sassan Haradji <sassanh@gmail.com>"]
license = "Apache-2.0"
readme = "README.md"
packages = [{ include = "ubo_app" }]


[[tool.poetry.source]]
name = "piwheels"
url = "https://www.piwheels.org/simple/"
priority = "primary"

[[tool.poetry.source]]
name = "PyPI"
priority = "primary"


[tool.poetry.dependencies]
python = "^3.9"
psutil = "^5.9.6"
ubo-gui = [
  { version = "^0.4.5", markers = "extra!='dev'", optional = false },
  { version = "^0.4.5", markers = "extra=='dev'", extras = [
    "dev",
  ], optional = true },
]
headless-kivy-pi = [
  { version = "^0.4.2", markers = "extra!='dev'" },
  { version = "^0.4.2", markers = "extra=='dev'", extras = [
    "dev",
  ], optional = true },
]
python-redux = "^0.3.4"

[tool.poetry.group.dev.dependencies]
poethepoet = { version = "^0.24.2" }
ubo-gui = { version = "^0.4.4" }
headless-kivy-pi = { version = "^0.4.2" }

[tool.poetry.extras]
dev = ['poethepoet', 'ubo-gui', 'headless-kivy-pi']

[tool.poetry.scripts]
ubo = "ubo_app:main"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poe.tasks]
lint = "pyright -p pyproject.toml ."

[tool.poe.tasks.deploy_to_device]
cmd = 'scripts/deploy.sh'

[tool.ruff]
select = ['ALL']
ignore = []

fixable = ['ALL']
unfixable = []

[tool.ruff.flake8-builtins]
builtins-ignorelist = ['type']

[tool.ruff.flake8-quotes]
docstring-quotes = "double"
inline-quotes = "single"
multiline-quotes = "double"

[tool.ruff.format]
quote-style = 'single'
