[Unit]
Description=Ubo App Service
Wants=dbus.service pipewire-pulse.service

[Service]
Type=simple
ExecStart={{INSTALLATION_PATH}}/env/bin/ubo
WorkingDirectory={{INSTALLATION_PATH}}
StandardOutput=inherit
StandardError=inherit
KillMode=control-group
Restart=always
RestartPreventExitStatus=255

[Install]
WantedBy=default.target
