[Unit]
Description=Ubo App Service
Wants=dbus.service pipewire-pulse.service

[Service]
Type=simple
Environment="UBO_SERVICES_PATH=/home/{{USERNAME}}/ubo_services/"
ExecStart={{INSTALLATION_PATH}}/env/bin/ubo
WorkingDirectory={{INSTALLATION_PATH}}
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartPreventExitStatus=255
TimeoutStopSec=60s
KillMode=mixed
KillSignal=SIGTERM

[Install]
WantedBy=default.target
