[Install]
WantedBy=multi-user.target

[Unit]
Description=Ubo App Service
After=ubo-update.service ubo-led.service ubo-pulseaudio.service network.target

[Service]
Type=simple
User={{USERNAME}}
ExecStart={{INSTALLATION_PATH}}/env/bin/ubo
WorkingDirectory={{INSTALLATION_PATH}}
StandardOutput=inherit
StandardError=inherit
KillMode=control-group
Restart=always
RestartPreventExitStatus=255
