[Install]
WantedBy=multi-user.target

[Unit]
Description=Ubo System Service
Before=hardware-test.service

[Service]
Type=simple
User=root
Environment=INSTALLATION_PATH={{INSTALLATION_PATH}}
Environment=USERNAME={{USERNAME}}
ExecStart={{INSTALLATION_PATH}}/env/bin/ubo-system
WorkingDirectory={{INSTALLATION_PATH}}
StandardOutput=inherit
StandardError=inherit
KillMode=control-group
Restart=always
RestartPreventExitStatus=255
RuntimeDirectory=ubo
RuntimeDirectoryMode=0755
