[Unit]
Description=Ubo Hotspot Service

[Service]
Type=simple
User=root
ExecStartPre={{INSTALLATION_PATH}}/env/bin/ubo-hotspot-config configure
ExecStart={{INSTALLATION_PATH}}/env/bin/ubo-redirect-server
ExecStopPost={{INSTALLATION_PATH}}/env/bin/ubo-hotspot-config restore
WorkingDirectory={{INSTALLATION_PATH}}
KillMode=control-group
Restart=always
