[Unit]
Description=Ubo App Service
Wants=dbus.service pipewire-pulse.service

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart={{INSTALLATION_PATH}}/env/bin/ubo
WorkingDirectory={{INSTALLATION_PATH}}
Restart=always
RestartPreventExitStatus=255
TimeoutStopSec=60s
KillMode=mixed
KillSignal=SIGTERM
